.button {
    &-form {
        padding: 16px 32px;
        border-radius: 100px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        transition: opacity var(--transition);

        &:hover {
            opacity: 0.9;
        }
    }
}
